<%- include('./partials/header.ejs') %> 

<div class="cluck_container-login">
    <form action="/sign_in" method="post">
        <label class="label-username" for="username">Username</label>
        <input class="input-username" type="text" name="username">
        <button class="username-btn" type="submit" >Sign In</button>
    </form>
</div>


<%- include('./partials/footer.ejs') %> 